@media only screen and (max-width: 1250px){
    .main_title{
        font-size: 4em;
    }

}

@media only screen and (max-width: 990px){
    .main_title{
        font-size: 3em;
    }
    .btn_icon_heart{
        margin-left: 100px;
    }
    .accordion-body{
        grid-template-columns: auto;
    }
    .accordion-body div {
        word-wrap: break-word;
    }
}

@media only screen and (max-width: 800px){
    .nav_menu{
        width: 700px;
    }

    .btn_icon_heart{
        margin-left: 50px;
        }
}

@media only screen and (max-width: 750px){
    .main_title{
        font-size: 2em;
    }
    .nav_menu{
        width: 600px;
    }
    .logo_name{
        font-size: 1.5em;
    }
    .first{
        padding: 40px 10px 5px 15px;
    }
    .second{
        padding: 10px 0px 15px 10px;
    }
    .btn_icon_heart{
        margin-left: 60px;
     }
    .logo_name{
        font-size: 1.3em;
        display: none;
    }
}

@media only screen and (max-width: 600px){
    .main_title{
        font-size: 2em;
    }
    .nav_menu{
        width: 500px;
    }

    .logo_img{
        width: 50px;
        padding: 15px 25px;
    }
    .logo_name{
        font-size: 1.3em;
        display: none;
    }
    .first{
        padding: 40px 0px 5px 0px;
    }
    .second{
        padding: 10px 0px 15px 0px;
    }
    .btn_icon_heart{
        margin-left: 50px;
    }
    .nav-icon_heart-text{
        font-size: 1em;
    }
    .nav-icon_suitcase-text{
        font-size: 1em;
            
    } 

    .auth_text{
        font-size: 1em;
    }
    .btn-marks{
        justify-content: space-evenly;
        flex-wrap: wrap;
        }
}

@media only screen and (max-width: 500px){
    .nav_menu{
        width: 350px;
        margin: 0;
    }
    
    .main_title{
        font-size: 1.4em;
    }
    .btn_icon_heart{
        margin-left: 0px;
    }
}

@media only screen and (max-width: 450px){
    .logo_img{
        width: 40px;
        padding: 25px 20px;
    }
    .btn_icon_suitcase{
        margin-left: 10px;
    }
    .btn_icon_heart{
        margin-left: 0px;
    }
    .auth{
        margin-left: 10px;
    }
    .accordion {
        margin: 0 auto;
        justify-content: center;
        display: flex;
    }
    .accordion-item{
        width: 300px;
    }
}

@media only screen and (max-width: 375px){
    /* .logo_img{
        width: 40px;
        padding: 25px 15px;
    }
    закомментил, так как картинка не нужна на этом разрешении */

    .btn_icon_suitcase{
        margin-left: 7px;
    }
    .auth{
        margin-left: 7px;
    }
}

